@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&family=Montserrat:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(223, 246, 255);
  background: linear-gradient(90deg, rgba(223, 246, 255, 1) 29%, rgba(93, 139, 244, 1) 84%);
}

.todo {
  width: 22em;
  margin: 50px auto;
  background-color: #2d31fa;
  color: white;
  border-radius: 20px;
}

.container {
  display: grid;
  justify-items: center;
  padding: 1em;
  box-sizing: border-box;
}

.heading {
  margin-bottom: 1.5em;
  display: grid;
  justify-items: center;
  width: 100%;
}

.heading h1 {
  margin-bottom: 1em;
  font-family: "Montserrat", sans-serif;
}

.input-user {
  display: flex;
  justify-content: center;
  width: 90%;
}

.input-user input {
  padding: 8px;
  border-radius: 8px 0px 0px 8px;
  width: 100%;
  border: none;
  margin: 0;
}

.input-user button {
  padding: 8px;
  border: none;
  margin: 0;
  border-radius: 0px 8px 8px 0px;
  display: block;
  background-color: #13f322;
  color: white;
  font-family: "Hind Madurai", sans-serif;
}

.storage {
  width: 90%;
}

.storage ul {
  list-style: none;
  font-family: "Hind Madurai", sans-serif;
}

.storage ul li {
  display: grid;
  grid-template-columns: 4fr 1fr;
  border: 1px solid white;
  margin-bottom: 4px;
}

.storage ul li p {
  color: white;
  padding: 0.4em;
  font-size: 14px;
  transition: 800ms;
}

.right .delete {
  padding: 0.4em;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  border: none;
  font-size: 10px;
  display: block;
  background-color: red;
  color: white;
  transition: 800ms;
}

.profile {
  margin-top: 2.5em;
  font-size: 0.8rem;
  font-family: "Hind Madurai", sans-serif;
  display: flex;
}

.profile .fa-github {
  font-size: 16px;
  margin-left: 4px;
  color: white;
}

/* hovering */
.right .delete:hover {
  background-color: white;
  color: red;
  cursor: pointer;
}

.storage ul li p:hover {
  background-color: #051367;
  border: none;
  color: white;
}

.finished {
  text-decoration: line-through;
}

/* icon hover */
.profile .fa-github:hover {
  color: black;
}
